# 30 Days of R/Python: Day 2

In [8]:
# Import necessary libraries
import pandas as pd
import numpy as np

## Creat a small Data frame with pandas.

In [17]:
#Method 1: Since my data is 2D with rows being cats and columns being months, I needed to convert a 2d numpy array into a dataframe.

In [24]:
weight = np.array([[11.7, 11.6, 11.7, 11.8, 11.8 ,11.8, 11.8, 11.6],
                [7.7, 7.9, 8.1, 8.4, 8.3, 8.2, 8.4, 8.4],
                [13.7, 13.8, 13.8, 13.8, 13.8, 13.7, 13.9, 13.9],
                [13.2, 13.6, 14.1, 14.5, 14.5, 14.3, 14.5, 14.9]])
monthly_cat_weight = pd.DataFrame(weight, 
                                  columns = ["Jan", "Feb", "Mar", "Apr", "May", "June", "July", "Aug"],
                                    index = ["Tigs", "MerB", "Nappa", "Morty"])
print(monthly_cat_weight)

        Jan   Feb   Mar   Apr   May  June  July   Aug
Tigs   11.7  11.6  11.7  11.8  11.8  11.8  11.8  11.6
MerB    7.7   7.9   8.1   8.4   8.3   8.2   8.4   8.4
Nappa  13.7  13.8  13.8  13.8  13.8  13.7  13.9  13.9
Morty  13.2  13.6  14.1  14.5  14.5  14.3  14.5  14.9

## Print the first five rows

In [25]:
print(monthly_cat_weight.head())

        Jan   Feb   Mar   Apr   May  June  July   Aug
Tigs   11.7  11.6  11.7  11.8  11.8  11.8  11.8  11.6
MerB    7.7   7.9   8.1   8.4   8.3   8.2   8.4   8.4
Nappa  13.7  13.8  13.8  13.8  13.8  13.7  13.9  13.9
Morty  13.2  13.6  14.1  14.5  14.5  14.3  14.5  14.9

## Other ways to create dataframes using pandas

In [31]:
#Method 2: Dictionary of Lists where each key:value pair is a column in the data frame

In [32]:
cat_info = {
    "Name" : ["TigerLilly", "MaryGold", "SnapDragon", "Morty"],
    "Age" : [15, 14, 11, 9],
    "Color" : ["Brown", "Calico", "Orange and White", "Black"]
}

In [33]:
cat_info_df = pd.DataFrame(cat_info)
print(cat_info_df)

         Name  Age             Color
0  TigerLilly   15             Brown
1    MaryGold   14            Calico
2  SnapDragon   11  Orange and White
3       Morty    9             Black

In [ ]:
#Method 3: List of Dictionaries, where each dictionary is a row of the dataframe

In [35]:
cat_data = [
    {"Name" : "TigerLilly", "Sex": "F", "Nickname" : "Tigs"},
    {"Name" : "MaryGold", "Sex": "F", "Nickname" : "MerB"},
    {"Name" : "SnapDragon", "Sex": "M", "Nickname" : "Nappa"},
    {"Name" : "Morty", "Sex": "M", "Nickname" : "Mort Mort"}
]

In [36]:
cat_data_df = pd.DataFrame(cat_data)
print(cat_data_df)

         Name Sex   Nickname
0  TigerLilly   F       Tigs
1    MaryGold   F       MerB
2  SnapDragon   M      Nappa
3       Morty   M  Mort Mort